body{
  margin: 0;
  padding: 0;

  font-size: 17px;
  color: #000000;
  font-weight: 400;
  font-family: "Cuprum", Arial, sans-serif;
  background-color:#ffffff;
}

a{
  text-decoration: none;
}

.visually-hidden{
  display: none;
}

.upper-header{
  width: 1200px;
  height: 42px;

  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.logo{
  background-color: #ee3643;
  width:220px;
  text-transform: uppercase;

  color: #ffffff;
}

.main-header-logo{
  font-size: 24px;
  line-height: 24px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover{
  background-color: #ca2c37;
}

.main-header-logo:active{
  background-color: #ba2732;
}

.search-field {
  background-color: #293449;
}
.search::before{
  content: '';
  background-image: url('../img/icon-search.svg') no-repeat;
}
.search{
  background-color: #293449;
  color: #ffffff;

  border: none;
}
.search::placeholder{
  color:#ffffff;
}
.search-field:hover,
.search-field:hover .search{
  background-color: #212a3a;
}
.search:focus{
  background-color: #ffffff;
  color: #000000;
}

.search:focus > .search-field{
  background-color: #ffffff;
}

.menu-link{
  color:#ffffff;
  text-decoration: none;
}

.bookmarks:hover,
.cart:hover{
  background-color: #212a3a;
}

.cart:active,
.bookmarks:active{
  background-color: #161d29;
  color: #a2a5a9;
}

.cart:hover .icon-cart path,
.cart:hover .icon-cart circle,
.bookmarks:hover .icon-bookmarks path{
  fill:#ffffff;
}
.cart a:active ,
.bookmarks a:active {
  color: #8b8e94;
}

.cart:active .icon-cart path,
.cart:active .icon-cart circle,
.bookmarks:active .icon-bookmarks path{
  fill:#8b8e94;
}

.order-btn{
  background-color: #63a63e;
  border: none;
}

.order-btn:hover{
  background-color: #5fbb2d;
}

.order-btn:active{
  background-color: #5fbb2d;
  color: #aac39b;
}

.bottom-header{
  background-color: #f2f6f8;
}

.description{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.phone-number{
  border: 3px solid #ffffff;
}

.telephone-number-upper{
  color: #ee3643;
  font-size: 21px;
  line-height: 24px;
}
.adress-upper{
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}
.bottom-header-info ul{
  list-style: none;
}

.user-btn{
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;.
  line-height: 21px;
}

.user-btn:hover{
  color: #ee3643;
}

.user-btn:hover svg path,
.user-data:hover svg path{
  fill:#32425c;
}

.user-btn:active,
.user-name:active,
.user-btn:active svg path,
.user-data:active svg path{
  color: #c5c5c5;
  fill: #c5c5c5;
}
.user-name{
  color: #000000;
  font-size: 21px;
}

.user-orders,
.user-desk{
  text-decoration: underline;
  color: #32425c;
  font-size: 16px;
}
.user-orders:hover,
.user-desk:hover{
  color: #ee3643;
}

.user-orders:active,
.user-desk:active{
  color: #b8c0c8;
}

.round-divider{
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.menu-item{
  background-color:#32425c;
}

.menu-item:hover{
  background-color:#293449;
}

.menu-item:active{
  background-color:#1d2739;
  color: #868c95;
}

.main-nav a{
  color: #ffffff;
}

.main-nav ul,
.footer-upper-nav ul,
.footer-bottom-nav ul{
  list-style: none;
}

.container{
  width: 940px;
}

.section-heading{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.category-material {
    background-color: #ffbf47;
}

.category-tools {
    background-color: #3bbce3;
}

.category-technics {
    background-color: #dc91d8;
}

.category-discount {
    background-color: #8ed78f;
}

.category-delivery {
    background-color: #ffc047;
}

.category-item {
    width: 277px;
    display: flex;
    padding-top: 23px;
    padding-left: 23px;
}

.category-name {
    font-family: Cuprum;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;

}

.category-link {
    font-family: Cuprum;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #000000;
    opacity: 0.1;
    padding: 12px 24px;

    border-radius: 3px;
    margin-bottom: 22px;
    margin-right: 53px;
}

.category-text {
    display: flex;
    flex-direction: column;

}

.category-link:hover{
  opacity: 0.2;
}

.category-link:active{
  opacity: 0.3;
}



.upper-section-hat{
  background-color: #f9f5f0;
}

.btn{
  border: none;

  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 18px;
}

.btn:hover{
  background-color: #ca2c37;
}

.btn:active{
  background-color: #ba2732;
}

.item-list{
  list-style: none;
}

.item{
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
}

.buy-btn{
  box-shadow: inset 0 -3px 0 #367315;
  border: none;
  background-color: #63a63e;
  border-radius: 3px;

  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.buy-btn:hover{
  background-color: #5fbb2d;
}

.buy-btn:active{
  background-color: #518534;
  box-shadow: none;
}

.bookmark-btn{
  border: 3px solid #63a63e;
  border-radius: 3px;

  background-color: #ffffff;
  color: #32425c;
  font-size: 14px;
  text-transform: uppercase;
}

.bookmark-btn:hover{
  border: 3px solid #32425c;
}

.bookmark-btn:active{
  border: 3px solid #32425c;
  opacity: 0.3;
}

.brand-list{
  list-style: none;
}

.brand-item a{
  border: 1px solid #eaeaea;
}

.brand-item:hover{
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand-item:active{
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);

}
.brand-item:active img{
  opacity: 0.3;
}

.service-list{
  list-style: none;
}

.service-name{
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;

  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.service-name span{
  padding-left: 22px;
}

.service-name:hover{
  background-color: #293449;
}

.service-name:active{
  color: #32425c;
  box-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
}

.service-description,
.delivery-description,
.loan-description,
.warranty-description,
.description-text{
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.description-btn{
  width: 220px;
  height: 38px
}

.contact-btn{
  width: 300px;
  height: 38px;
}

.main-footer-logo{
  font-size: 30px;
  line-height: 30px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover{
  background-color: #ca2c37;
}
.main-header-logo:active{
  background-color: #ba2732;
}
.upper-footer{
  background-color: #32425c;
}

.footer-upper-nav a{
  font-size: 18px;
  color: #f1f5f7;;
}

.footer-bottom-nav a{
  font-size: 18px;
  color: #ffd180;
}

.footer-upper-nav a:hover,
.footer-bottom-nav a:hover{
  text-decoration: underline;
}

.footer-upper-nav a:active,
.footer-bottom-nav a:active{
  text-decoration: none;
  opacity: 0.5;
}

.footer-contacts{
  color: #f1f5f7;
  font-size: 18px;
}

.bottom-footer{
  background-color: #293449;
}

.copyright{
  color: #ffffff;
  font-size: 16px;
}

.social{
  background-color: #212a3a;
  border-radius: 50%;
}

.social:hover,
.social-active{
  background-color: #ee3643;
}

.feedback,
.developed{
  font-size: 16px;

  color: #ffffff;
}

.feedback-email,
.feedback-page{
  font-size: 16px;
  color: #ffd180;
}

.feedback-email:hover,
.feedback-page:hover{
  text-decoration: underline;
}

.feedback-email:active,
.feedback-page:active{
  text-decoration: none;
  color: #ee3643;
}

.letter-form{
  color: #000000;
  font-size: 18px;
  line-height: 18px;
}

.modal-upper-line{
  background-color: #ee3643;
}

/*Catalog*/
.catalog-nav{
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-nav ul{
  list-style: none;
}

.sub-section-heading,
.sort legend{
  background-color: #f7f3ec;

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

}

.filter legend{
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul,
.sort ul,
.products ul,
.pagination ul{
  list-style: none;
}

.price-range{
  background-color: #f7f3ec;
}

.filter-brand-choice{
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-brand-::before{
  content: "";
  background-image: url("/img/checkbox-off.svg") no-repeat;
}

.cat-btn{
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.cat-btn:hover{
  border-color: #bdc6ca;
}

.cat-btn:active{
  border-color:#ee3643;
}

.input:checked + .page-btn{
  background-color: #ee3643;
}

.sort{
  background-color: #f7f3ec;
}

.sort button{
  border: none;
  background-color: #f7f3ec;
  opacity: 0.3;

  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
}

.sort button:hover{
  color: #000000;
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: #ee3643;
  text-decoration-style: solid;
}

.sort button:active{
  color: #ee3643;
  text-decoration: none;
}

.sort button:active svg path{
  fill:#ee3643;
}

/*  сетка  */
html,
body {
  min-width: 1122px;
  min-height: 1150px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-page{
  /* Временно для сетки */
  background-image: url('img/technomart-index.jpg');
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.main-header{
  width: 1200px;

  display: flex;
  flex-direction: column;
}

.upper-header{
  width: 1200px;

    display: flex;
    justify-content: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-field {
  width: 270px;
  height: 42px;
}

.inner-menu{
  width: 940px;

  display: flex;
}

.bookmarks,
.cart,
.order-btn{
  width: 150px;
  height:42px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart svg,
.bookmarks svg{
  margin-right:13px;
}

.bottom-header{
  width:1200px;
  margin:0;
  padding:0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-header-info{
  margin:0;
  padding: 0;

  display: flex;
}

.description{
  width: 197px;

  margin-left: 52px;
  margin-top: 49px;
  margin-bottom: 43px;
}

.header-contacts{
  margin-left: 70px;
  margin-top: 49px;

  display: flex;
  flex-direction:column;
  align-items: center;
}

.user-menu{
  margin-top:49px;
  display: flex;
}

.phone-number{
  width: 270px;
  height:42px;

  display: flex;
  justify-content: center;
}
.phone-number svg{
  margin:12px;
}

.user-menu{
  display: flex;
}

.user-btn{
  padding: 12px 25px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-btn svg{
  margin-right: 14px;
}

.bottom-header-nav{
  width: 940px;
  margin: 0;
  padding-bottom: 60px;
}

.main-nav ul{
  width:900px;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.menu-item{
  margin:0;
  padding-top: 17px;
  padding-bottom:17px;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 5px solid #293449;
}

.container{
  width:940px;
  margin-top: 60px;

  display: flex;
  justify-content: center;
}
.main-categories{
    width:940px;
    display: flex;
    flex-direction:column;
}

.upper-category{
    display: flex;
}
.upper-category .category-item{
    margin-right: 20px;
    margin-bottom: 20px;
}
.upper-category .category-item:last-child{
    margin-right: 0;
}

.bottom-category{
    display: flex;
}

.slider{
    margin-right:20px;
}

.bottom-right{
    display: flex;
    flex-direction:column;
}

.bottom-right .category-item:first-child{
    margin-bottom: 20px;
}


/*styles for slider*/
.slider {
    position: relative;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 200%;
    transition: transform 0.8s ease;
}

.slider-slides .separate-slide {
    position: relative;
    float: left;
    width: 620px;
}

.slider-controls:first-of-type {
    position:absolute;
    bottom:32px;
    left:292px;
    z-index:1;
}
.slider-controls .left {
    position:absolute;
    bottom:100px;
    left:50px;
    z-index:1;
}
.slider-controls .right {
    position:absolute;
    bottom:100px;
    right:50px;
    z-index:1;
}
.slider-controls .dots {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color 0.2s;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls .dots[for="btn-1"],
#btn-2:checked ~ .slider-controls .dots[for="btn-2"]{
    background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-620px);
}
.slider-image-description {
    color: #ffffff;
    position:absolute;
    top:25px;
    left:50px;
    z-index:1;
}

.slider-image-description{
    text-transform: uppercase;
}
.slider-image-subdescription{
    text-transform: none;
}
